{% extends 'base.html' %} {% block title %} Trips {% endblock %} {% block head
%}
<script src="{{ url_for('static', filename='newtrip.js') }}"></script>
{% endblock %}{% block body %}

<section class="mb-6">
  <h2 class="text-2xl mb-2">Take a trip</h2>
  <button
    class="bg-blue-500 hover:bg-blue-700 text-white text-sm font-bold py-2 px-4 rounded"
    onclick="newTripModalToggle()"
  >
    Start Planning
  </button>
  {% include 'newtrip_modal.html' %}
</section>
<section>
  <h2 class="text-2xl">Your Trips</h2>
  <table class="bg-gray-50">
    <thead>
      <th
        scope="col"
        class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider"
      >
        Id
      </th>
      <th
        scope="col"
        class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider"
      >
        Start
      </th>
      <th
        scope="col"
        class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider"
      >
        End
      </th>
      <th
        scope="col"
        class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider"
      >
        Distance
      </th>
      <th
        scope="col"
        class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider"
      >
        Travel Time
      </th>
      <th></th>
    </thead>
    <tbody>
      {% for trip in trips %}
      <tr>
        <td class="px-6 py-4 whitespace-nowrap">{{ trip["id"] }}</td>
        <td class="px-6 py-4 whitespace-nowrap">{{ trip.details["src"] }}</td>
        <td class="px-6 py-4 whitespace-nowrap">{{ trip.details["dst"] }}</td>
        <td class="px-6 py-4 whitespace-nowrap">
          {{ trip.details["totalDist"] }} mi
        </td>
        <td class="px-6 py-4 whitespace-nowrap">
          {{ trip.details["totalTime"] }}
        </td>
        <td class="px-6 py-4 whitespace-nowrap">
          <a href="{{url_for('trip_details',id=trip.id)}}"
            ><button
              class="bg-blue-500 hover:bg-blue-700 text-white text-sm font-bold py-2 px-4 rounded"
            >
              View
            </button></a
          >
          |
          <a href="{{url_for('trip_delete',id=trip.id)}}"
            ><button
              class="bg-blue-500 hover:bg-blue-700 text-white text-sm font-bold py-2 px-4 rounded"
            >
              Delete
            </button></a
          >
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</section>
{% endblock %}
