{% extends 'base.html' %} {% block title %} Trip Details {% endblock %} {% block
body %}
<h2 class="text-2xl mb-3">Trip Summary</h2>

<h3 class="text-lg mb-1"><b>Source:</b> {{ trip.details["src"] }}</h3>
<h3 class="text-lg mb-1"><b>Destination:</b> {{ trip.details["dst"] }}</h3>
<h3 class="text-lg mb-1"><b>Total Distance:</b> {{ trip.details["totalDist"] }}</h3>
<h3 class="text-lg mb-1"><b>Total Time:</b> {{ trip.details["totalTime"] }}</h3>
<h3 class="text-lg mb-3"><b>Weather at Destination:</b> {{ trip.details["dstWeather"] }}</h3>


<script>
const trip_id = {{ trip.details["id"] }};
var loading = false;
</script>

<script src="{{url_for('static', filename='/trip.js')}}"></script>

<input placeholder="New stop location" class=" placeholder-gray-500 text-xl mx-1 px-1 py-1 border-b-2 border-gray-500 flex-grow" type='text' id="newStop">
<button class="bg-blue-500 hover:bg-blue-700 text-white text-sm font-bold py-2 px-4 rounded"
onclick="add_stop()">Add Stop</button>
<table class="bg-gray-50">
    <thead>
        <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Stop #</th>
        <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Origin</th>
        <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">End</th>
        <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Distance (miles)</th>
        <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Time</th>
    </thead>
<tbody>
    {% for stop in trip.details["stops"] %}
    <tr>
        <td class="px-6 py-4 whitespace-nowrap">{{ stop["id"] }}</td>
        <td class="px-6 py-4 whitespace-nowrap">{{ stop["start"] }}</td>
        <td class="px-6 py-4 whitespace-nowrap">{{ stop["end"] }}</td>
        <td class="px-6 py-4 whitespace-nowrap">{{ stop["dist"] }}</td>
        <td class="px-6 py-4 whitespace-nowrap">{{ stop["time"] }}</td>
    </tr>
    {% endfor %}
</tbody>
</table>
{% endblock %}
